body {
    text-align: center;
}

a {
    text-decoration: none;
    color: skyblue;
}

.name {
    color: darkblue;
    transition: all .20s;
}

.name:hover {
    text-decoration: none;
    color: royalblue;
}

html {
    scroll-behavior: smooth;
}

marquee {
    font-size: 20px;
}

.image {
    height: 300px;
    transition: all .1s;
}

.image:hover {
    height: 330px;
}

.img1 {
    width: 100%;
    height: 400px;
}

p {
    text-align: justify;
}
